/*************************wraper_footer****************/
.wraper_footer{
    width: 100%;
    background: url(../images/footerpic.jpg) no-repeat;
    background-size: 100% 100%;
    padding-top: 250px;
    padding-bottom: 0;
}
.footernetwork li{
    display: inline-block;;
}
.footernetwork li a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    display: inline-block;
    margin: 5px;
}
.footernetwork li a:hover{
    border-color: #fb4d84;
}
.footerflexnav{
    width: 100%;
    display: flex;
}
.footer_navbar{
    width: 48%;
    padding: 0px;
}

.titlefooter{
    font-size: 21px;
    padding: 15px 0;
    color: #fb4d84;
}
.footer_navbar li {
    padding: 10px 0;
}
.footer_navbar li a{
    color: #fff;
    font-size: 16px;
    font-size: 500;
}
.footerlogo p{
      color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
}
.footerlogo a{
    margin-top:30px;
    display: inline-block;
}
.locationfill li{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    display: flex;
}
.locationfill li:nth-of-type(2) i{
    transform: rotate(83deg);
}
.locationfill li i{
    color: #fb4d84;
    font-size:18px;
    padding-top: 5px;
    padding-right: 10px;
}
.emailint{
    padding: 10px;
    border: none;
    height: auto;
}
.btnsubcrib input{
    border: none;
    background:#2184fc !important;
    color: #fff !important;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
}
.coppyright{
    width: 100%;
    text-align: center;
    border-top: 1px solid #6e2d76;
    margin-top: 20px;
    padding:20px 0;
}
.coppyright p{
    font-size: 14px;
    padding: 10px 50px;
    color: #fff;
}